body {
    background-image: url("../images/linen.jpg");
    font-family: "Open Sans";
    width: 800em;
    padding: 1em;
}

#title {
    color: white;
    font-size: 5em;
    font-weight: bold;
    font-family: "Indie Flower";
    cursor: default;
}

.image_frame {
    float: left;    
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    margin: 1.5em 1em 0em 2em;
    border: 10px solid transparent;
    -webkit-border-image: url("../images/paper.jpg") 30 round; /* Safari 3.1-5 */
    -o-border-image: url("../images/paper.jpg") 30 round; /* Opera 11-12.1 */
    border-image: url("../images/paper.jpg") 30 round;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.text {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: white;
    cursor: default;
}

.country {
    font-size: 2em;
}

.done {
    color: white;
    text-decoration: line-through;
}